
 {% extends 'base.html.twig' %}
{% block title %}
    <center>

    </center>
{% endblock %}
{% block css %}
    <style>

        .form-style {
            padding: 50px;
        }
        .form-group {
            margin-bottom: 30px;
            width: 50%;
        }
        .form-control {
            width: 100%;
            padding: 10px;
            font-size: 16px;
        }
        ::placeholder {
            color: #000000!important;
        }
        .logo {
            weight:100;

        }
        #role {
            margin-bottom: 30px;
            width: 50%;

        }
    </style>
{% endblock %}

{% block body %}
    <center>

        <div style="margin-top:10px; padding:20px; width:800px; height:fit-content;
       border-radius:10px; background-image: url('../images/background.jpg'); background-size: 100% ; box-shadow: -1px -1px 34px 3px rgba(0,0,0,0.63);
-webkit-box-shadow: -1px -1px 34px 3px rgba(0,0,0,0.63);-moz-box-shadow: -1px -1px 34px 3px rgba(0,0,0,0.63);" class="container">

            <label style="color:white;  font-weight: bold;"  >on vous souhaite la bienvenue</label>



            {{form_start(form,{'attr':{'novalidate':'novalidate'}} )}}

            <div class="form-group">
                {{ form_widget(form.typeSport, {'attr': {'class': 'form-control', 'placeholder': 'Merci de taper votre type de sport'}}) }}
                {% if form_errors(form.typeSport)is not empty %}
                    <div class="alert alert-danger">
                        {{ form_errors(form.typeSport) }}
                    </div>
                {% endif %}
            </div>


            <div class="form-group">
                {{ form_widget(form.dateParticipation, {'attr': {'class': 'form-control', 'placeholder': 'Merci de taper votre date de participation'}}) }}
                {% if form_errors(form.dateParticipation)is not empty %}
                    <div class="alert alert-danger">
                        {{ form_errors(form.dateParticipation) }}
                    </div>
                {% endif %}
                <div class="form-group">
                    {{ form_widget(form.seance, {'attr': {'class': 'form-control', 'placeholder': 'Merci de taper votre date de participation'}}) }}
                    {% if form_errors(form.seance)is not empty %}
                    <div class="alert alert-danger">
                        {{ form_errors(form.seance) }}
                    </div>
                    {% endif %}
                    <div class="form-group">
                        {{ form_widget(form.participant, {'attr': {'class': 'form-control', 'placeholder': 'Merci de taper votre date de participation'}}) }}
                        {% if form_errors(form.participant)is not empty %}
                            <div class="alert alert-danger">
                                {{ form_errors(form.participant) }}
                            </div>
                        {% endif %}



            <button class="btn btn-primary" style="background-color:#FAC031; border:none">{{button_label|default('Save')}}</button>
            {{ form_end(form) }}

        </div>

    </center>

{% endblock %}